---
import Layout from "@layouts/Layout.astro";
import Toc from "@components/page/Toc.astro";
import Description from "@components/page/Description.astro";
import Content from "@components/page/Content.astro";
import Schedule from "@components/page/Schedule.astro";
import Countdown from "@components/page/Countdown.astro";
import ContentFormat from "@components/page/ContentFormat.astro";
import FieldDescription from "@components/page/FieldDescription.astro";
import PersonalInfo from "@components/page/PersonalInfo.astro";
import Banner from "@components/page/Banner.astro";
import Table from "@components/page/Table.astro";
import QA from "@components/page/QA.astro";

import MdContent from "@assets/doc/open/Content.md";

const submit_url = "https://forms.gle/bTjs7D6hxMSrWYx76";
const calendar_url = "https://sitcon.org/";

const page_info = {
	title: "一般議程徵稿",
	description: "開放式議程分為 40 分鐘和 90 分鐘兩種時長，該議程不限定進行方式，希望跳脫傳統議程框架，透過雙向互動、實作等，任何您想得到的非傳統形式進行此場議程。"
};

const schedule = [
	{ date: new Date("2025-10-12"), event: "開始徵稿", time_text: "2025/10/12" },
	{ date: new Date("2025-11-30T23:59:00"), event: "早鳥投稿截止", time_text: "2025/11/30 23:59" },
	{ date: new Date("2026-01-23T23:59:00"), event: "投稿及稿件修改截止", time_text: "2026/01/23 23:59" },
	{ date: new Date("2026-02-05"), event: "議程錄取通知", time_text: "2026年2月上旬" },
	{ date: new Date("2026-03-15T23:59:00"), event: "試講", time_text: "2026/02/22 至 3/15" },
	{ date: new Date("2026-03-27"), event: "彩排", time_text: "2026/03/27" },
	{ date: new Date("2026-03-28"), event: "年會", time_text: "2026/03/28" }
];

const table_content = [
	{
		header: "實作工作坊形式",
		content: `實作是學習一項新技能最直接的方式，您可以設計一個實務導向的工作坊，在介紹新技術的同時穿插應用的範例，讓會眾在過程中獲得成就感並帶走實用的技能。無論是軟體開發、工具使用，還是技術應用實作工作方的題目可以像是：
從零開始開發一個簡單的聊天應用程式。
從數位音樂到 AI 視覺藝術的創意應用。
`
	},
	{
		header: "議題交流形式",
		content: `知識的交流不只受限於於演講，資訊發展快速，卻也延伸出許多可以深入討論的議題，我們期待透過講者的引言，拋磚引玉，激發聽眾的想法，透過多方觀點的交流，聽眾可以理解不同看法，進而發現新的思考方向。 例如：
人工智慧是否會有自我意識？
隱私權與數據共享如何找到平衡點？
`
	},
	{
		header: "社群分享形式",
		content: `社群的力量在於凝聚志同道合的人，講者可以分享社群運營經驗，無論是分享如何推廣技術還是組織活動的秘訣，透過經驗分享，探討如何打造互助的社群環境，或介紹該社群所推廣的技術、理念與特色，讓更多人對此產生興趣。例如：
如何吸引新手加入開源社群？
如何帶領社群成員認識資料科學？
`
	},
	{
		header: "更多形式由您來創造",
		content: `不只有上述的形式，我們非常歡迎其他形式的議程。
無論是主持一場圓桌會議，一起腦力激盪，甚至舉辦一場小競賽，任何你想得到的非傳統議程形式都可以在開放式議程中進行！
`
	}
];

const paper_info_content = [
	{
		title: "題目 Title",
		detail: "請不要超出 20 字。",
		optional: false,
		publish: true
	},
	{
		title: "摘要 Abstract",
		detail: "建議 150–250 字，使用於宣傳與網站公告。",
		optional: false,
		publish: true
	},
	{
		title: "為何選擇開放式議程 Format Preference Explanation",
		detail: "請簡述為什麼您認為開放式議程更適合此議程的內容或主題呈現。這部分可以包括您希望透過開放式議程達成的效果、氣氛或參與方式，以便審稿委員理解您的設計考量。",
		optional: false,
		publish: false
	},
	{
		title: "進行模式 Method",
		detail: "不限字數，請詳細說明該議程預計如何和會眾互動，以及是否需要額外的工具，此項目將幫助會眾預期該如何參與此議程。",
		optional: false,
		publish: true
	},
	{
		title: "議程時長選擇 - 40 或 90 分鐘",
		detail: "原則上以 40 分鐘議程為主，若您覺得 40 分鐘的時長難以使您傳達內容，我們將限量開放申請時長為 90 分鐘的議程。若欲申請 90 分鐘，請詳細說明您的議程有以 90 分鐘表達的必要性與優勢。",
		optional: false,
		publish: true
	},
	{
		title: "議程大綱 Outline",
		detail: "請說明該開放式議程的大綱及時間長度規劃。",
		optional: false,
		publish: false
	},
	{
		title: "目標受眾 Target Audience",
		detail: "請說明您期待該議程的目標受眾為怎麼樣的人。例如：「嚮往成為前端開發者的初學者」、「不知道該不該讀研究所的學生」等。",
		optional: false,
		publish: false
	},
	{
		title: "先備知識 Prior Knowledge",
		detail: "請說明該議程的與會者所需具備的先備知識。例如：「能理解 Python 基礎語法」、「略懂 108 課綱現況」等。",
		optional: false,
		publish: true
	},
	{
		title: "主題標籤 Labels",
		detail: "請填寫 1~4 個該議程相關的領域與知識標籤，例如：ML、Data Science、資安紅隊、blockchain、社團等；錄取後會與講者溝通微調後公開於官網議程表。",
		optional: false,
		publish: true
	},
	{
		title: "詳細說明 Description",
		detail: "不限字數，請說明這個議程您認為重要的相關細節，以利審稿委員更瞭解您的議程。",
		optional: false,
		publish: false
	},
	{
		title: "附件 Attachment",
		detail: "可以附上程式碼、投影片草稿或任何您認為有助於我們瞭解您議程的附件，請再三確認是否有開啟共用權限。",
		optional: true,
		publish: false
	}
];

const personal_info_content = [
	{
		title: "電子郵件 Email",
		detail: "能讓大會聯絡的電子信箱。（注意：請您在大會的聯絡過程中，維持使用相同信箱）",
		optional: false,
		publish: false
	},
	{
		title: "名字",
		detail: "您的姓名。",
		optional: false,
		publish: true
	},
	{
		title: "暱稱",
		detail: "公開於講者海報及網站的稱呼。",
		optional: false,
		publish: true
	},
	{
		title: "自我介紹 Self Introduction",
		detail: "公開於講者海報及網站，將有助於會眾更加了解有關你的資訊。",
		optional: false,
		publish: true
	},
	{
		title: "手機號碼 Phone",
		detail: "用於大會聯絡、確認資訊用的電話號碼。",
		optional: false,
		publish: false
	},
	{
		title: "其他聯絡方式 Other Contact Information",
		detail: "其他任何我們能聯絡您的方式（如 Telegram ID、住處電話等），以利我們在審稿時即時向您釐清投稿資訊。",
		optional: false,
		publish: false
	}
];

const qa_content = [
	{
		question: "「先備知識」與「目標受眾」有何不同？",
		answer: "「目標受眾」表示您預期何種人將會前來參與該場議程，此欄位可能表示為與會者的興趣、生活環境抑或年齡層。「先備知識」表示對該議程有興趣者，您建議須先備哪些基礎技術、能力或經驗，有助於了解與吸收該場議程的知識精華。舉例而言，若一講題為「在營隊中使用虛擬貨幣」，則先備知識可能是「沒有」，目標受眾可能是「有想要辦營隊的人」。而如果是有關 Julia 程式語言的演講，則先備知識可能是「知道平行運算是什麼」，目標受眾可能是「想用 Julia 做資料科學的人」。"
	},
	{ question: "投稿主題是否有需要切合年會主題？", answer: "不用。審稿時僅會依照上文所述標準審查，不會因為呼應主題就拿到比較高分，或因為與主題無關就被扣分。" },
	{ question: "還有疑問怎麼辦？", answer: "歡迎寄信至 session@sitcon.org 詢問，我們會儘速回應。" }
];

const toc_content = [
	{ text: "重要時程", link: "#schedule" },
	{ text: "議程說明", link: "#description" },
	{ text: "投稿格式", link: "#paper-info" }
];
---

<Layout>
	<a class="btn-fixed" href={submit_url} target="_blank" rel="noopener">立即<br />投稿</a>
	<div class="out-container">
		<div class="main-container">
			<div class="toc">
				<Toc content={toc_content} />
			</div>
			<main>
				<h1>{page_info.title}</h1>

				<Countdown end1="2025-11-30T23:59:00" end2="2026-01-23T23:59:00" start="2025-10-12T00:00:00" form_url={submit_url} />

				<div id="schedule">
					<Schedule schedule={schedule} calendarUrl={calendar_url} />
				</div>

				<div id="description">
					<Description>
						{page_info.description}
					</Description>
				</div>

				<div id="what">
					<Content title="什麼是開放式議程？">
						在追求創新的時代，我們為講者提供了開放式議程這個選項，跳脫講者對聽眾單向陳述式的演講，開放式議程更加強調主講者和與會者的雙向交流。SITCON
						作為學生展現自己的舞台，我們期待以學生為主體的投稿，可以是從學生角度出發的經驗分享、技術分享，或是一同探討學生相關議題等。
					</Content>
					<Table content={table_content} />
				</div>

				<div id="paper-info">
					<Content title="投稿格式"> 除標示為公開之資訊會對外公布外，其餘僅供審稿委員於審稿時閱讀。 </Content>
					<FieldDescription title="投稿欄位說明" content={paper_info_content} />
					<PersonalInfo
						title="個人資料"
						description="除了暱稱 / 名字、自我介紹被用於宣傳，其餘資訊僅需提供一人作為代表（當稿件同時有多位講者時），供議程組於聯絡時使用。"
						content={personal_info_content}
					/>
				</div>

				<ContentFormat>
					<MdContent />
				</ContentFormat>

				<QA content={qa_content} />
			</main>
		</div>

		<div class="banner">
			<Banner
				btn_url={submit_url}
				h3=`開放式議程不只是演講，而是一場集體創作。
你不是獨奏者，而是引領眾聲的指揮家。
或許你將帶領與會者親手奏出悅耳旋律；
或許你能讓多元聲音不再彼此掩蓋，而是相互襯托；
又或許——你想指揮出怎樣的和聲？
`
				h2=`我們正等待你的登場，引領眾人演奏獨特的章節！`
			/>
		</div>
	</div>
</Layout>

<style>
	.main-container {
		max-width: 65rem;
		margin: 3rem 1rem;
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-template-rows: auto auto;
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.out-container {
		display: flex;
		flex-direction: column;
	}

	.blocks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
		margin: 2rem 1rem;
	}

	.block {
		display: block;
		text-align: center;
		border-radius: 1.5rem;
		padding: 1rem;
		border: 4px solid #86aee5;
		background-color: #fff;
		color: #86aee5;
		align-content: start;
	}

	.block-title {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		font-size: 2.5rem;
		letter-spacing: 0.125rem;
		font-weight: 700;
	}

	.block-content {
		word-wrap: break-word;
		text-align: justify;
		margin: 0.5rem 0;
		font-weight: bold;
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: 0.075rem;
	}

	.block-time-spotlight {
		font-size: 5rem;
		font-weight: bold;
	}

	.block-time-normal {
		font-size: 2rem;
	}

	.banner {
		grid-column: 1 / -1;
	}

	.toc {
		padding: 0 2rem;
		justify-self: center;
	}

	h1 {
		font-size: 4rem;
		font-weight: 900;
	}

	.btn-fixed {
		text-decoration: none;
		border-radius: 50%;
		background: #ffffff;
		border-color: #589dff;
		border-width: 3rem;
		color: #566d8d;
		text-align: center;
		font-size: 1.3rem;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0.12rem;
		filter: drop-shadow(4px 3px 30.1px rgba(255, 255, 255, 0.21));
		position: fixed;
		right: 1rem;
		bottom: 1rem;
		z-index: 9999;
		display: inline-flex;
		align-items: center;
		gap: 10px;
		padding: 12px 16px;
	}

	.toc-toggle {
		display: none;
		position: fixed;
		bottom: 20px;
		left: 20px;
		background: #0077cc;
		color: white;
		border: none;
		border-radius: 50%;
		width: 54px;
		height: 54px;
		font-size: 20px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		z-index: 9999;
	}

	.toc-mobile {
		display: none;
		position: fixed;
		top: 4.2rem;
		right: 0;
		width: 8.5rem;
		max-width: 300px;
		height: 100vh;
		background: #0101218f;
		box-shadow: -2px 0 12px rgba(0, 0, 0, 0.2);
		padding: 80px 20px;
		transform: translateX(100%);
		transition: transform 0.3s ease;
		z-index: 1000;
		transform: translateX(0);
	}

	@media (max-width: 768px) {
		.toc {
			display: none;
		}

		.toc-mobile:hover {
			display: block;
			opacity: 1;
		}

		.toc-mobile,
		.toc-toggle {
			display: block;
			opacity: 0;
		}

		.main-container {
			display: block;
		}

		.blocks {
			display: block;
		}

		.block {
			margin: 1rem 0;
		}
	}
</style>
