---
import Layout from "@layouts/Layout.astro";
import Toc from "@components/page/Toc.astro";
import Description from "@components/page/Description.astro";
import Content from "@components/page/Content.astro";
import Format from "@assets/doc/normal_regulation.md";
import Schedule from "@components/page/Schedule.astro";
import Countdown from "@components/page/Countdown.astro";
import MarkdownFormat from "@components/page/MarkdownFormat.astro";
import FieldDescription from "@components/page/FieldDescription.astro";
import PersonalInfo from "@components/page/PersonalInfo.astro";
import Banner from "@components/page/Banner.astro";
import Table from "@components/page/Table.astro";

const toc_data = [
	{ text: "活動簡介", link: "#description" },
	{ text: "重要日期", link: "#dates" },
	{ text: "投稿須知", link: "#submission" },
	{ text: "評審標準", link: "#criteria" },
	{ text: "聯絡我們", link: "#contact" }
];

const data = {
	title: "開放式議程徵稿",
	subtitle: "開放式議程為 40 分鐘的議程，該議程不限定進行方式，希望跳脫傳統議程框架，透過雙向互動、實作等，任何你想得到的非傳統形式進行此場議程。"
};

const schedule = [
	{ date: new Date("2025-01-11"), event: "XX截止" },
	{ date: new Date("2025-10-15"), event: "YY公布" },
	{ date: new Date("2025-10-15"), event: "ZZ發表" }
];

const field_content = [
	{
		title: "中文題目 Chinese Project Title",
		detail: "長度請自行斟酌。",
		optional: false,
		publish: true
	},
	{
		title: "英文題目 English Project Title",
		detail: "長度請自行斟酌。",
		optional: false,
		publish: true
	},
	{
		title: "摘要 Abstract",
		detail: "建議約 350 字，使用於宣傳與網站公告。",
		optional: false,
		publish: true
	},
	{
		title: "關鍵詞 Keywords",
		detail: "至多三個。",
		optional: false,
		publish: true
	},
	{
		title: "研究說明 Project Content",
		detail: `請以 pdf 檔案上傳，需簡要說明
						（一）研究動機與目的 Research Question or Problem；（二）研究方法與過程 Methodology；
						（三）研究結果與討論 Results and Interpretation of these 
								results；
						（四）結論應用及展望 Conclusions 等，以 1500 字為限。可
								參考 臺灣國際科學展覽會實施要點 第 17 頁說明。`,
		optional: false,
		publish: false
	},
	{
		title: "海報內容 Poster Content",
		description: `錄取後上傳。以呈現研究結果為主，除題目與摘要之外，建議依序可包含前言、研究方法、結論及參考文獻等，內容請投稿作者自行斟酌，以不超過海報尺寸為限。請以直版寬 xx 公分、高 xx 公分規格製作為 pdf 檔案，一篇投稿一面看板，請於收到錄取通知後依據郵件說明上傳最終版海報檔案，統一由大會進行印製與佈展。`,
		optional: false,
		publish: false
	},
	{
		title: "其他說明 Additional Instructions",
		description: `其他以上未提及之說明，若為延續性研究作品也請在此標明。`,
		optional: true,
		publish: false
	}
];

const table = [
	{
		header: "1.實作工作坊",
		content: `111實作是學習一項新技能最直接項新技能最直項新技能最直項新技能最直的方式，期`
	},
	{
		header: "2.實作工作坊",
		content: `222實作是學習一項新技學習一項新技能學習一項新技能實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技實作是學習一項新技學習一項新技能學習一項新技學習一項新技能能最直接的方式，期`
	},
	{
		header: "3.實作工作坊",
		content: `333實作是學習一項新技能最直接的項新技能最直項新技能最直項新技能最直項新技能最直方式，期`
	},
	{
		header: "4.實作工作坊",
		content: `444實作是學習一項新技能最直項新技能最直項新技能最直項新技能最直項新技能最直項新技能最直接的方式，期`
	}
];
---

<Layout>
	<main>
		<div class="toc">
			<Toc data={toc_data} />
		</div>
		<div class="container">
			<h1>{data.title}</h1>
			<Description>
				{data.subtitle}
			</Description>

			<!-- TODO: real form url, date -->
			<Countdown end="2025-10-20T21:59:00" start="2025-09-12T00:00:00" form_url="https://sitcon.org/" />

			<Schedule schedule={schedule} calendarUrl="https://sitcon.org/" />

			<Content title="什麼是開放式議程？">
				在追求創新的時代，我們為講者提供了開放式議程這個選項，跳脫講者對聽眾單向陳述式的演講，開放式議程更加強調主講者和與會者的雙向交流。SITCON
				作為學生展現自己的舞台，我們期待以學生為主體的投稿，可以是從學生角度出發的經驗分享、技術分享，或是一同探討學生相關議題等。
			</Content>

			<div>
				<Content title="投稿格式"> 各議程類型的投稿格式相同，除標示為公開之資訊會對外公布外，其餘僅供審稿委員於審稿時閱讀。 </Content>
				<FieldDescription title="投稿欄位說明" content={field_content} />
				<PersonalInfo title="個人資料" description="除了暱稱 / 名字被用於宣傳，其餘資訊僅需提供一人作為代表（當稿件同時有多位講者時），供議程組於聯絡時使用。" content={field_content} />
			</div>

			<Table table={table} />

			<MarkdownFormat>
				<Format />
			</MarkdownFormat>

			<!-- TODO: Q&A -->
		</div>
		<!-- TODO: Grid -->
		<div class="banner">
			<Banner />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 2rem 0;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-template-rows: auto auto;
	}

	.banner {
		grid-column: 1 / -1;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-right: 2rem;
		padding-bottom: 3rem;
	}

	.toc {
		padding: 0 2rem;
	}
</style>
