---
import SubmissionPage from "@layouts/SubmissionPage.astro";
import Content from "@components/page/Content.astro";
import Table from "@components/page/Table.astro";

import undefinedPicture1 from "@assets/desc_page/undefined_1.webp";
import undefinedPicture2 from "@assets/desc_page/undefined_2.webp";

import MdContent from "@assets/doc/undefined/Content.md";

const page_info = {
	title: "開放式議程徵稿",
	seo_title: "開放式議程徵稿 | SITCON 2026 徵稿",
	description: "不限定進行方式，鼓勵互動討論與多元對話或實作，讓會眾共創觀點、激發思維交流。"
};

const schedule = [
	{ date: new Date("2025-10-12"), event: "開始徵稿", time_text: "2025/10/12（日）" },
	{ date: new Date("2025-11-30T23:59:00"), event: "早鳥投稿截止", time_text: "2025/11/30（日） 23:59" },
	{ date: new Date("2026-01-23T23:59:00"), event: "投稿及稿件修改截止", time_text: "2026/01/23（五） 23:59" },
	{ date: new Date("2026-02-05"), event: "議程錄取通知", time_text: "2026 年 2 月上旬" },
	{ date: new Date("2026-03-15T23:59:00"), event: "試講", time_text: "2026 年 2 月下旬開始" },
	{ date: new Date("2026-03-27"), event: "彩排", time_text: "2026/03/27（五）" },
	{ date: new Date("2026-03-28"), event: "年會", time_text: "2026/03/28（六）" }
];

const paper_info_content = [
	{
		title: "題目",
		detail: "請不要超出 <b>20</b> 字。",
		optional: false,
		publish: true
	},
	{
		title: "摘要",
		detail: "建議 <b>150–250</b> 字，使用於宣傳與網站公告。",
		optional: false,
		publish: true
	},
	{
		title: "為何選擇開放式議程",
		detail: "請簡述為什麼您認為開放式議程更適合此議程的內容或主題呈現。這部分可以包括您希望透過開放式議程達成的效果、氣氛或參與方式，以便審稿委員理解您的設計考量。",
		optional: false,
		publish: false
	},
	{
		title: "進行模式",
		detail: "不限字數，請<b>詳細說明</b>該議程預計如何和會眾互動，以及是否需要額外的工具，此項目將幫助會眾預期該如何參與此議程。",
		optional: false,
		publish: true
	},
	{
		title: "議程時長選擇 - 40 或 90 分鐘",
		detail: "原則上<b>以 40 分鐘議程為主</b>，若您覺得 40 分鐘的時長難以使您傳達內容，我們將限量開放申請時長為 90 分鐘的議程。若欲申請 90 分鐘，請詳細說明您的議程有以 90 分鐘表達的必要性與優勢。",
		optional: false,
		publish: true
	},
	{
		title: "議程大綱",
		detail: "請說明該開放式議程的大綱及時間長度規劃。",
		optional: false,
		publish: false
	},
	{
		title: "目標受眾",
		detail: "請說明您期待該議程的目標受眾為怎麼樣的人。例如：「嚮往成為前端開發者的初學者」、「不知道該不該讀研究所的學生」等。",
		optional: false,
		publish: false
	},
	{
		title: "先備知識",
		detail: "請說明該議程的與會者所需具備的先備知識。例如：「能理解 Python 基礎語法」、「略懂 108 課綱現況」等。",
		optional: false,
		publish: true
	},
	{
		title: "主題標籤",
		detail: "請填寫 1~4 個該議程相關的<b>領域與知識標籤</b>，例如：ML、Data Science、資安紅隊、blockchain、社團等；錄取後會與講者溝通微調後公開於官網議程表。",
		optional: false,
		publish: true
	},
	{
		title: "詳細說明",
		detail: "不限字數，請說明這個議程您認為<b>重要的相關細節</b>，以利審稿委員更瞭解您的議程。",
		optional: false,
		publish: false
	},
	{
		title: "附件",
		detail: "可以附上程式碼、投影片草稿或任何您認為有助於我們瞭解您議程的附件，請再三確認是否有<b>開啟共用權限</b>。",
		optional: true,
		publish: false
	}
];

const personal_info_content = [
	{
		title: "電子郵件",
		detail: "能讓大會聯絡的電子信箱。（注意：請您在大會的聯絡過程中，維持<b>使用相同信箱</b>）",
		optional: false,
		publish: false
	},
	{
		title: "名字",
		detail: "您的姓名。",
		optional: false,
		publish: true
	},
	{
		title: "暱稱",
		detail: "公開於講者海報及網站的稱呼。",
		optional: false,
		publish: true
	},
	{
		title: "自我介紹",
		detail: "公開於講者海報及網站，將有助於會眾更加了解有關你的資訊。",
		optional: false,
		publish: true
	},
	{
		title: "手機號碼",
		detail: "用於大會聯絡、確認資訊用的電話號碼。",
		optional: false,
		publish: false
	},
	{
		title: "其他聯絡方式",
		detail: "其他任何我們能聯絡您的方式（如 Telegram ID、住處電話等），以利我們在審稿時即時向您釐清投稿資訊。",
		optional: false,
		publish: false
	}
];

const qa_content = [
	{
		question: "「先備知識」與「目標受眾」有何不同？",
		answer: "「目標受眾」表示您預期何種人將會前來參與該場議程，此欄位可能表示為與會者的興趣、生活環境抑或年齡層。「先備知識」表示對該議程有興趣者，您建議須先備哪些基礎技術、能力或經驗，有助於了解與吸收該場議程的知識精華。舉例而言，若一講題為「在營隊中使用虛擬貨幣」，則先備知識可能是「沒有」，目標受眾可能是「有想要辦營隊的人」。而如果是有關 Julia 程式語言的演講，則先備知識可能是「知道平行運算是什麼」，目標受眾可能是「想用 Julia 做資料科學的人」。"
	},
	{ question: "投稿主題是否有需要切合年會主題？", answer: "不用。審稿時僅會依照上文所述標準審查，不會因為呼應主題就拿到比較高分，或因為與主題無關就被扣分。" },
	{ question: "還有疑問怎麼辦？", answer: "歡迎寄信至 session@sitcon.org 詢問，我們會儘速回應。" }
];

const toc_content = [
	{ text: "議程說明", link: "#description" },
	{ text: "重要時程", link: "#schedule" },
	{ text: "什麼是開放式議程？", link: "#about" },
	{ text: "投稿格式", link: "#paper-info" },
	{ text: "早鳥投稿計劃", link: "#早鳥投稿計劃" },
	{ text: "審稿方式", link: "#審稿方式" },
	{ text: "Code of Conduct", link: "#code-of-conduct" },
	{ text: "投稿注意事項", link: "#投稿注意事項" },
	{ text: "授權", link: "#授權" },
	{ text: "試講", link: "#試講" },
	{ text: "彩排", link: "#彩排" },
	{ text: "QA", link: "#QA" }
];
---

<SubmissionPage
	title={page_info.title}
	submitUrl="https://sitcon.org/cfp-form-undefined"
	schedule={schedule}
	tocContent={toc_content}
	bannerH2="我們正等待你的登場，引領眾人演奏獨特的章節！"
	description={page_info.description}
	paperInfoContent={paper_info_content}
	personalInfoContent={personal_info_content}
	qaContent={qa_content}
	mdContent={MdContent}
	seoTitle={page_info.seo_title}
	seoDescription={page_info.description}
	picture1={undefinedPicture1}
	picture2={undefinedPicture2}
>
	<div slot="after-schedule" id="what">
		<Content title="什麼是開放式議程？" id="about">
			在追求創新的時代，我們為講者提供了開放式議程這個選項，跳脫講者對聽眾單向陳述式的演講，開放式議程更加強調主講者和與會者的雙向交流。SITCON
			作為學生展現自己的舞台，我們期待以學生為主體的投稿，可以是從學生角度出發的經驗分享、技術分享，或是一同探討學生相關議題等。
		</Content>
		<Table />
	</div>
</SubmissionPage>
