---
const { presentation_content, espresso_content } = Astro.props;
---

<div class="link-section">
	<h3>PRESENTATION</h3>
	<div class="links">
		{
			presentation_content.map((item: { title: string; img: string; href: string }) => {
				return (
					<a class="link-item" href={item.href} target="_blank" rel="noopener">
						<img class="link-img" src={item.img} alt={item.title} />
						<span>{item.title}</span>
					</a>
				);
			})
		}
	</div>

	<h3>ESPRESSO</h3>

	<div class="links">
		{
			espresso_content.map((item: { title: string; img: string; href: string }) => {
				return (
					<a class="link-item" href={item.href} target="_blank" rel="noopener">
						<img class="link-img" src={item.img} alt={item.title} />
						<span>{item.title}</span>
					</a>
				);
			})
		}
	</div>
</div>

<style>
	.link-section {
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: left;
	}
	.links {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.link-img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.link-item {
		max-height: 25rem;
		text-decoration: none;
		color: #c4c4c4;
		align-items: center;
		border-radius: 1.25rem;
		background: #394877;
		padding: 1rem;
	}

	@media (max-width: 768px) {
		.links {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
